version: "3.9"

services:
  exporter:
    build:
      context: ./exporter
    container_name: obs-node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /:/host:ro,rslave
      - ./exporter/textfile:/etc/node-exporter/textfile
    environment:
      - NODE_EXPORTER_FLAGS=

  ping-exporter:
    image: czerwonk/ping_exporter:latest
    container_name: obs-ping-exporter
    restart: unless-stopped
    cap_add:
      - NET_RAW
    environment:
      - CONFIG_FILE=/config/ping_exporter.yml
    ports:
      - "9427:9427"
    volumes:
      - ./ping-exporter/ping_exporter.yml:/config/ping_exporter.yml:ro
    depends_on:
      - exporter

  prometheus:
    build:
      context: ./prometheus
    image: obs-prometheus
    container_name: obs-prometheus
    restart: unless-stopped
    depends_on:
      - exporter
      - ping-exporter
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  grafana:
    build:
      context: ./grafana
    image: obs-grafana
    container_name: obs-grafana
    restart: unless-stopped
    ports:
      - "3300:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=pedro
      - GF_SECURITY_ADMIN_PASSWORD=pedro1030
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro


  postgres:
    image: postgres:15
    container_name: obs-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: grafana
      POSTGRES_PASSWORD: grafana123
      POSTGRES_DB: grafana_db
    ports:
      - "5432:5432" 
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: ["postgres", "-c", "shared_preload_libraries=pg_stat_statements"]
    
    networks:
      - default  

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: obs-postgres-exporter
    restart: unless-stopped
    environment:
      DATA_SOURCE_NAME: "postgresql://grafana:grafana123@postgres:5432/grafana_db?sslmode=disable"
    ports:
      - "9187:9187"
    volumes:
    - ./queries.yaml:/etc/postgres_exporter/queries.yaml
    command:
    - "--extend.query-path=/etc/postgres_exporter/queries.yaml"
  
    depends_on:
    - postgres

  loadgen:
    build:
      context: ./loadgen
    container_name: obs-loadgen
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: grafana_db
      DB_USER: grafana
      DB_PASSWORD: grafana123
      BATCH_SIZE: 50
      SLEEP_MIN_SEC: 0.2
      SLEEP_MAX_SEC: 1.5
      READ_RATIO: 0.4
      WRITE_RATIO: 0.3
      UPDATE_RATIO: 0.2
      DELETE_RATIO: 0.1
      TABLE_NAME: loadgen_events
    depends_on:
      - postgres
    restart: unless-stopped


volumes:
  prometheus-data:
  grafana-data:
  postgres-data:


